* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 80%;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

body {
    margin-top: 150px;
}

ul {
    list-style-type: none;
}